{% comment %} {% extends "base.html" %} {% endcomment %}
{% block body  %}
    <h1>Sign up</h1>
    <form method='post'>
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" id='username' name='username'>
        <br>
        <label for="password">Password: </label>
        <input type="password" id='password' name='password'>
        <br>
        <button>Sign up</button>
        {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    <li><strong>{{ field }}:</strong> {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Already Have An Account? <a href="{% url 'login'%}">Login</a></p>
    </form>

{% endblock  %}