{% extends "base.html" %}

{% block body %}
<div class="posts-container">
<form method="get" class="search-form">
  <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q }}">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
    <div class="header">
      <h1>My Posts</h1>
      <div class="create-post-btn">
        <a href="{% url 'post_create'%}" >+</a>

      </div>
      </div>
      <div class="posts-list">
        {% if posts %}
            {% for post in posts %}
            <div class="post-card">
            <p class="post-user">{{post.user}} </p>
            <a href="{% url 'post_details' post.id%}" class="post-title">{{post.post_title}}
            </a>
            <p class="post-date">{{post.post_date}} </p>
          </div>
            {% endfor %}
        {% else %}
          <p class="no-posts">You do not have posts yet</p>
        {% endif %}
        </div>
</div>
 {% endblock  %}
