{% extends "base.html" %}

{% block body %}
<form method="get">
  <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q }}">
  <button type="submit">Search</button>
</form>
      <h1>My Posts</h1>
        {% if posts %}
            {% for post in posts %}
            <p>{{post.user}} </p>
            <a href="{% url 'post_details' post.id%}">
                {{post.post_title}}
            </a>
            <p>{{post.post_date}} </p>

            {% endfor %}
        {% else %}
          <p>There is no posts yet</p>
        {% endif %}
 {% endblock  %}
