{% extends "base.html" %}

{% block body %}
<h2>{{post.post_title}} </h2>
<p>Category: {{post.category}} </p>
<h3>{{post.post_content|safe}} </h3>
{% if post.post_image %}
     <img src="{{post.post_image.url}}" alt="post image" style="width:300px; height:auto;">       
{% endif %}
<p>{{post.post_date}} </p>
<a href="{% url 'post_update' post.id%}">update</a>

<form action="{% url 'post_delete' post.id%}" method='post'>
    {% csrf_token %}
    <button>Delete</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
    MathJax.typeset()
</script>

{% endblock  %}