body {
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}
.login-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: "Karla", sans-serif;
}


.login-container h1 {
    text-align: center;
    color: #0A1653;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.login-form label {
    color: #0A1653;
}


.login-form input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #4E75FF;
    outline: none;
}


.btn-primary {
    background: #0A1653;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100px;
    align-self: center;
}

.btn-primary:hover {
    background: #a1aac9 ;
    transform: translateY(-1px);
}


.signup-text {
    font-size: 0.9rem;
    text-align: center;
}

.signup-text a {
    color: #4E75FF;
    text-decoration: none;
    font-weight: 500;
}

.signup-text a:hover {
    text-decoration: underline;
}


.guest-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0A1653;
    text-decoration: none;
    font-weight: 500;
}

.guest-link:hover {
    color: #4E75FF;
}

.error-list {
    background: #ffe5e5;
    color: #b30000;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.9rem;
}

