{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="reply-details-container">
    <h1>Reply Details</h1>

    <div class="reply-card">
        <p class="reply-user"><strong>User: </strong> {{ reply.user.username }}</p>
        <h3 class="reply-content"> ${{ reply.reply_content|safe }}$ </h3>

        {% if reply.reply_image %}
            <img src="{{ reply.reply_image.url }}" alt="Reply image" class="reply-image">
        {% endif %}

        <p class="reply-date"><strong>Date:</strong> {{ reply.reply_date|date:"M d, Y" }}</p>

        <form method="post" action="{% url 'like_reply' reply.id %}" class="like-form">
            {% csrf_token %}
            <button id="like-btn" type="submit" class="like-btn" data-reply-id="{{ reply.id }}">
                {% if did_liked %}
                    ❤️
                {% else %}
                    🤍
                {% endif %}
            </button>
            <span id="like-count">{{ reply.like_reply.count }} likes</span>
        </form>

        {% if user.is_authenticated and reply.user == user %}
            <form action="{% url 'reply_delete' reply.id %}" method="post" class="delete-form">
                {% csrf_token %}
                <button class="btn-delete">Delete</button>
            </form>
        {% endif %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        MathJax.typesetPromise([document.getElementById("reply-content")])
    
    })
</script>
{% endblock %}
