{% extends "base.html" %}

{% block body %}
    <h1>Replies</h1>
    {% if replies %}
    <ul>
        {% for reply in replies %}
            <li>
                <a href="{% url 'reply_details' reply.id %}">
                <p>{{ reply.user }} </p>
                <p>{{ reply.reply_content }} </p>
                {% if reply.reply_image %}
                    <img src="{{ reply.reply_image.url }}" alt="Reply image" width="100">
                {% endif %}
                <p>{{ reply.reply_date }} </p>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No replies yet.</p>
    {% endif %}
{% endblock  %}